<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modal_title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="festivityForm" (ngSubmit)="saveFestivity(festivityForm.value)">
      <div class="form-group">
        <label>Nombre de la Festividad:</label>
        <div class="input-group">
          <input class="form-control" formControlName="name" type="text" />
        </div>
      </div>
      <div class="form-group">
        <label>Descripcion:</label>
        <div class="input-group">
            <textarea class="form-control rounded-0" formControlName="description" rows="3"></textarea>
          <!--<input class="form-control" formControlName="description" type="text" />-->
        </div>
      </div>
      <div class="form-group">
        <!--<label>Fecha:</label>
        <div class="input-group">
          <input class="form-control" formControlName="date" type="text" />
        </div>-->
        <label>Fecha:</label>
        <div class="input-group datepicker-input">
          <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd"
              name="dp" ngbDatepicker #d="ngbDatepicker" type="text">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
              <span class="fa fa-calendar"></span>
          </button>
        </div>
      </div>
      <hr>
      <!--<button type="button" class="btn btn-outline-dark" style="margin-left: 5px;"
        (click)="modal.close('Save click')"><i class="fa fa-fw fa-ban"></i> Cancelar</button>-->
      <button class="btn btn-lg btn-block btn-dark" [disabled]="festivityForm.invalid" type="submit"><i
          class="fa fa-fw fa-floppy-o"></i> Guardar</button>
    </form>
  </div>
</ng-template>

<ng-template #view let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">VISTA DETALLADA</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </button>
  </div>
  <div class="modal-body">
    <b>ID: </b>{{ view_festivity.id }}<br>
    <b>NOMBRE: </b>{{ view_festivity.name }}<br>
    <b>DESCRIPCION: </b>{{ view_festivity.description }}<br>
    <b>FECHA: </b>{{ view_festivity.date.year }}-{{view_festivity.date.month}}-{{view_festivity.date.day}}<br>
  </div>
</ng-template>

<button class="btn btn btn-success" (click)="open(content)"> <i class="fa fa-fw fa-plus-square"></i>Nuevo</button>

<hr>

<div class="row">
  <div class="col col-xl-12 col-lg-12">

    <div class="card mb-3">
      <div class="card-header">Lista de Festividades</div>
      <div class="card-body table-responsive">
      <table class="card-body table">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>FECHA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let festivity of festivities_ar">
            <td>{{ festivity.name }}</td>
            <td>{{ festivity.description }}</td>
            <td>{{ festivity.date.year }}-{{festivity.date.month}}-{{festivity.date.day}}</td>
            <td>
              <button (click)="viewFestivity(festivity,view)" class="btn btn-info btn-sm" style="margin-left: 5px;">
                <i class="fa fa-fw fa-file-text-o"></i>
              </button>
              <button (click)="editFestivity(festivity,content)" class="btn btn-warning btn-sm"
                style="margin-left: 5px;"> <i class="fa fa-fw fa-pencil-square-o"></i> </button>
              <button (click)="deleteFestivity(festivity.id)" class="btn btn-danger btn-sm" style="margin-left: 5px;">
                <i class="fa fa-fw fa-trash"></i> </button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

  </div>
</div>